<footer class="footer">
    <div class="container-fluid">
        <p class="copyright pull-left">
            <%= configApp.title_complete %> (<span class="text-info"><%= configApp.title_brief %></span>&trade;)
        </p>
        <p class="copyright pull-right">
            &copy; <script>document.write(new Date().getFullYear())</script> Central Luzon State University
        </p>
    </div>
</footer>