<div class="sidebar" data-color="azure" data-image="./images/banner.svg">

    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="/dashboard" class="simple-text">
                <%= configApp.title_brief %>
            </a>
        </div>

        <ul class="nav">
            <li id="dashboard">
                <a href="/dashboard">
                    <i class="pe-7s-graph"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li  id="reading-time">
                <a href="/reading-time">
                    <i class="pe-7s-hourglass"></i>
                    <p>Reading Time</p>
                </a>
            </li>
            <li  id="patron">
                <a href="/patron">
                    <i class="pe-7s-study"></i>
                    <p>Patron</p>
                </a>
            </li>
            <li  id="account">
                <a href="/account">
                    <i class="pe-7s-door-lock"></i>
                    <p>Account</p>
                </a>
            </li>
        </ul>
    </div>
    
</div>