<% if(!user){ %>
        <!-- <script>window.location.href = "/";</script> -->
<% } else if(user.accessLevel != "administrator"){ %>
    <!-- <script>window.location.href = "/";</script> -->
<% }%>



<% include ../partials/header %>

<div class="wrapper">

    <% include ../partials/sidebar %>

    <div class="main-panel">
        <% include ../partials/navbar %>


        <div class="content">
            
            <div class="container-fluid">                
                
                <div class="card mb-3 d-print-none">
                    <div class="card-header">
                        <h2 class="card-title">
                            <i class="pe-7s-user"></i>
                            Administrator Accounts
                        </h2>
                    </div>
                    
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="tblUsers" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th>Access Level</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th>Access Level</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>                                
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="card-footer text-muted">
                        <h5 class="stats">
                            Updated at <span class="last-updated text-info"></span>
                        </h5>
                    </div>
                </div>



                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">
                            <i class="pe-7s-tools"></i>
                            Account Preferences
                        </h2>
                    </div>

                    <div class="card-body bg-warning">     
                        
                        <div class="container">

                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title text-center text-info">
                                                Set Default Section
                                            </h4>
                                            <form name="frmUserSettings" onsubmit="return false;">
                                                <div class="row">
                                                    <div class="col-sm-4 col-sm-offset-4">
                                                        <div class="form-group">
                                                            <select class="form-control" name="section"></select>
                                                        </div>
                                                    </div>                                
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        
                    </div>
                </div>
                                
            </div>

        </div>

        <% include ../partials/panel-footer %>
    </div>
</div>



<% include ../partials/footer %>

<script src="./js/account.js"></script>