<% if(!user){ %>
        <!-- <script>window.location.href = "/";</script> -->
<% } else if(user.accessLevel != "administrator"){ %>
    <!-- <script>window.location.href = "/";</script> -->
<% }%>



<% include ../partials/header %>

<div class="wrapper">

    <% include ../partials/sidebar %>

    <div class="main-panel">
        <% include ../partials/navbar %>


        <div class="content">
            
            <div class="container-fluid">                
                
                <div class="card mb-3 d-print-none">
                    <div class="card-header">
                        <h2 class="card-title">
                            <i class="pe-7s-user"></i>
                            Administrator Accounts
                            <i class="pe-7s-help1 pull-right" data-toggle="tooltip" data-placement="left" title="This is the list of all the user accounts in the BeSmart application. "></i>
                        </h2>
                    </div>
                    
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="tblUsers" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th>Access Level</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>
                                            <i class="pe-7s-user mr-2 text-warning"></i>
                                            Username
                                        </th>
                                        <th>
                                            <i class="pe-7s-mail mr-2 text-warning"></i>
                                            Email
                                        </th>
                                        <th>
                                            <i class="pe-7s-key mr-2 text-warning"></i>
                                            Access Level
                                        </th>
                                        <th>
                                            <i class="pe-7s-config mr-2 text-warning"></i>
                                            Action
                                        </th>
                                    </tr>
                                </tfoot>                                
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="card-footer text-muted">
                        <h5 class="stats">
                            Updated at <span class="last-updated text-info"></span>
                        </h5>
                    </div>
                </div>



                <div class="card mb-3 d-print-none">
                    <div class="card-header">
                        <h2 class="card-title">
                            <i class="pe-7s-shield"></i>
                            Patrons to Remind
                            <i class="pe-7s-help1 pull-right" data-toggle="tooltip" data-placement="left" title="This is the list of all the library patrons that must be reminded regarding logging out of the library section. "></i>
                        </h2>
                    </div>
                    
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="tblDelinquents" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Barcode</th>
                                        <th>Name</th>
                                        <th>Gender</th>
                                        <th>Course</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>
                                            <i class="pe-7s-id mr-2 text-warning"></i>
                                            Barcode
                                        </th>
                                        <th>
                                            <i class="pe-7s-user mr-2 text-warning"></i>
                                            Name
                                        </th>
                                        <th>
                                            <i class="pe-7s-smile mr-2 text-warning"></i>
                                            Gender
                                        </th>
                                        <th>
                                            <i class="pe-7s-study mr-2 text-warning"></i>
                                            Course
                                        </th>
                                    </tr>
                                </tfoot>                                
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="card-footer text-muted">
                        <h5 class="stats">
                            Updated at <span class="last-updated text-info"></span>
                        </h5>
                    </div>
                </div>



                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">
                            <i class="pe-7s-tools"></i>
                            Account Preferences
                            <i class="pe-7s-help1 pull-right" data-toggle="tooltip" data-placement="left" title="This is where you can set your own default library section for recording attendance in the Dashboard tab. "></i>
                        </h2>
                    </div>

                    <div class="card-body bg-warning">     
                        
                        <div class="container">

                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title text-center text-info">
                                                Set Default Section
                                            </h4>
                                            <form name="frmUserSettings" onsubmit="return false;">
                                                <div class="row">
                                                    <div class="col-sm-4 col-sm-offset-4">
                                                        <div class="form-group">
                                                            <select class="form-control" name="section"></select>
                                                        </div>
                                                    </div>                                
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        
                    </div>
                </div>
                                
            </div>

        </div>

        <% include ../partials/panel-footer %>
    </div>
</div>



<% include ../partials/footer %>

<script src="./js/account.js"></script>